server.port=80
server.servlet.context-path=/cms

spring.datasource.url=jdbc:postgresql://localhost:5432/cms-db
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.properties.hibernate.format_sql=true


cms.default-page-size=7
